:root {
    --primary-color: #293264;
    --secondary-color: #4D5B9E;
    --background-color: #F5F7FB;
    --user-selected-option: #D6DBF5;
    --correct-answer-bg: #94D7A2;
    --incorrect-answer-bg: #F8BCBC;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background: var(--background-color);
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}

body > * {
    position: relative;
    z-index: 100;
}

main {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 15px;
    width: 150px;
    padding: 0.75rem 1rem;
    outline: none;
    border: none;
    background: #4D5B9E;
    color: var(--background-color);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.intro-page {
    text-align: center;
}

.intro-page--head {
    font-weight: bold;
    font-size: 2rem;
    line-height: 37px;
    margin-bottom: 0.5rem;
}

.intro-page--lead {
    line-height: 19px;
    margin-bottom: 2rem;
}

.quiz-page {
    max-width: 750px;
    padding: 1rem;
}

.question {
    margin: 1.5rem auto;
    border-radius: 0.5rem;
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
    padding: 1.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.question--text {
    font-size: 1.2rem;
    line-height: 19px;
}

.question--options-container{
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem 2rem;
    margin: 1.25rem 0 0;
}

.option {
    border: 0.794239px solid #4D5B9E;
    border-radius: 2rem;
    background-color: var(--background-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    width: max-content;
    min-width: 75px;
    padding: 0.25rem 0.75rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    cursor: pointer;
}

.option:hover{
    box-shadow: 0px 0px 3px var(--primary-color);
}

.option.selected {
    background: var(--user-selected-option);
}

.question.answered-correct .option.selected {
    background-color: var(--correct-answer-bg) !important;
}

.question.answered-incorrect .option.correct-answer {
    background-color: var(--correct-answer-bg) !important;
}

.question.answered-incorrect .option.selected {
    background-color: var(--incorrect-answer-bg) !important;
}

.quiz-page--button-container {
    text-align: center;
}

.quiz-ended-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    word-wrap:break-word;
    padding: 1rem;
    flex-wrap: wrap;
}